@import url(
'https://fonts.googleapis.com/css?family=Raleway'
);

@import url(
'https://fonts.googleapis.com/css?family=Kaushan Script'
);

.main {
  font-family: Raleway, serif;
  max-width: 1510px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main__title1 {
    text-align: center;
    font-family: 'Kaushan Script', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #2D3033;
  }

  .main__title2 {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #2D3033;
  }

  .main__separator {
    width: 170px;
    height: 0;
    border: 1px solid #EC7979;
    background: #EC7979;
  }

  .main__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 50px 200px;
  }

  .main__content {
    display: grid;
    grid-template-columns: repeat(4, 378px);
    grid-template-rows: repeat(2, 378px);
    grid-template-areas:
            "a b c d"
            "e f c g";

    .main__content__a {
      background-image: url("assets/1.svg");
      grid-area: a;
    }

    .main__content__b {
      background-image: url("assets/2.svg");
      grid-area: b;
    }

    .main__content__c {
      background-image: url("assets/3.svg");
      grid-area: c;
    }

    .main__content__d {
      background-image: url("assets/4.svg");
      grid-area: d;
    }

    .main__content__e {
      background-image: url("assets/5.svg");
      grid-area: e;
    }

    .main__content__f {
      background-image: linear-gradient(rgba(230, 125, 125, 0.8), rgb(255, 225, 120, 0.8)), url("assets/6.svg");
      grid-area: f;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      div {
        margin: 60px;
      }

      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
      }
    }

    .main__content__g {
      background-image: url("assets/7.svg");
      grid-area: g;
    }
  }
}
