@import url(
'https://fonts.googleapis.com/css?family=Raleway'
);

@import url(
'https://fonts.googleapis.com/css?family=Kaushan Script'
);

$red: #EC7979;
$black: #000000;
$orange: rgba(230, 125, 125, 0.8);
$yellow:  rgba(255, 225, 120, 0.8);
$white: #FFFFFF;


.main {
  font-family: Raleway, serif;
  max-width: 1510px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title1 {
    text-align: center;
    font-family: 'Kaushan Script', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #2D3033;
  }

  &__title2 {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #2D3033;
  }

  &__separator {
    width: 170px;
    height: 0;
    border: 1px solid $red;
    background: $red;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $black;
    margin: 50px 200px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 378px);
    grid-template-rows: repeat(2, 378px);
    grid-template-areas:
            "a b c d"
            "e f c g";

    &__a {
      background-image: url("../assets/1.svg");
      grid-area: a;
    }

    &__b {
      background-image: url("../assets/2.svg");
      grid-area: b;
    }

    &__c {
      background-image: url("../assets/3.svg");
      grid-area: c;
    }

    &__d {
      background-image: url("../assets/4.svg");
      grid-area: d;
    }

    &__e {
      background-image: url("../assets/5.svg");
      grid-area: e;
    }

    &__f {
      background-image: linear-gradient($orange,$yellow), url("../assets/6.svg");
      grid-area: f;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      div {
        margin: 60px;
      }

      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: $white;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $white;
      }
    }

    &__g {
      background-image: url("../assets/7.svg");
      grid-area: g;
    }
  }
}
